<%= link "TIL List", to: til_path(@conn, :list) %>

<h2><%= name(@user) %></h2>

<div>
  <%= for til <- @user.tils do %>
    <div class="til">
      <p><%= til_text(til) %></p>
    </div>
  <% end %>
</div>
